@media screen and (max-width: 992px){
    a{
        font-size: 25px;
    }
    p{
        font-size: 15px;
    }
    img{
        max-width: 200px;
        max-height: 150px;
    }
}
@media screen and (max-width: 768px){
    a{
        font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    img{
        max-width: 150px;
        max-height: 100px;
    }
}
@media screen and (max-width: 576px){
    a{
        font-size: 15px;
    }
    p{
        font-size: 10px;
    }
    img{
        max-width: 150px;
        max-height: 100px;
    }
}